@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');
@import "./utils/variables";
@import "./utils/mixin";

* {
    box-sizing: border-box;
    font-size: 15px;
}

html, body {
    margin: 0;
    width: 100%;
    max-width: 1400px;
    font-family: Roboto;
}

h1, h2 {
    font-size: 1.5rem;
}

a {
    color: inherit;
    text-decoration: none;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    i{
        font-size: 20px;
        padding-left: 1rem;
    }
    h1 {
        font-family: Shrikhand;

    }
    
}

.header__logo{

    margin-left: auto;
    margin-right: auto;
}
.image
{
    width: 100%;
    max-width: 100%;
    max-height: 300px;
    position: relative;
}

.menu
{
    position: relative;
    z-index:1;
    width: 100%;
    background-color: #f6f6f6;
    border-radius: 2rem 2rem 0 0;
    margin-top: -4rem;
    padding-bottom: 2rem;
    height: auto;
    .headermenu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-family: Shrikhand;
        padding-left: 1rem;
        padding-right: 2rem;
    }
    i {
        font-size: 20px;
    }

    &__button { 
        background: linear-gradient(56deg,$secondarycolor,$primarycolor);
        color: white ;
        padding : 0.8rem 2.5rem 0.8rem 2.5rem;
        border-radius: 25px;
        border: none;
        @include button_shadow;
}
}
.button{

    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem ;
    width: 130px;
}

.submenu {
    padding-left: 1rem;
    padding-right: 1rem;
    


    h3{
        font-weight: lighter;
        position: relative;
    }
    &__border{
        height: 2px;
        width: 40px;
        max-width: 100%;
        background-color: $tertiarycolor;
        margin-top: -0.5rem;
    }

    &__item{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: end;
        background-color: white;
        width: 100%;
        height: 70px;
        border-radius:15px;
        margin-bottom: 1rem;
        margin-top: 1rem;
        @include card_shadow;
        h4{
            padding-left: 1rem;
            margin-top: -0.5rem;
            margin-bottom: -0.5rem;
        }
        p{
            font-weight: lighter;
            padding-left: 1rem;
        }
        &__price
        {
            margin-bottom: 1rem;
            padding-right: 2rem;
            
        }

        &__price:hover
        {
            padding-right: 4rem;
        }
        &__confirmation
        {
            position: absolute;
            left: -250px;
        }
        
    }
}

footer{
    background-color: rgb(51, 44, 44);
    padding-left: 2rem;
}

.footer{
    color: #eaeaea;
    padding-top: 2rem;
    padding-bottom:1rem;
    &__logo{
        font-family: Shrikhand;
    }
    &__list{
        list-style: none;
        margin-left: -2.3rem;
        i{
            margin-right:1rem;
        }
        li{
            margin-bottom: 1rem;
        }
    }
}