@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');
@import "./utils/variables";
@import "./utils/mixin";
@import "./utils/animation";
@import "./base/base";

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    i {
        font-size: 20px;
        padding-left: 1rem;
    }

    h1 {
        font-family: Shrikhand;
    }
}

.header__logo {
    margin-left: auto;
    margin-right: auto;
}

.image {
    width: 100%;
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;

    @media (min-width: 602px) {
        position: relative;
        height: 300px;
    }
}

.menu {
    position: relative;
    z-index: 1;
    width: 100%;
    background-color: #f6f6f6;
    border-radius: 2rem 2rem 0 0;
    margin-top: -4rem;
    padding-bottom: 2rem;
    height: auto;

    @media (min-width: 602px) {
        margin-top: -10rem;
    }

    .articles {
        @media (min-width: 602px) {
            display: flex;
            flex-wrap: wrap;

        justify-content: space-around;
        }
    }

    .headermenu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-family: Shrikhand;
        padding-left: 1rem;
        padding-right: 2rem;

        i {
            font-size: 30px;
        }

        .fa-heart {
            border-radius: 50%;
            padding: .2rem;
        }

        .fa-heart::before {
            content: "";
            transition: color 1s ease-out;
            cursor: pointer;
        }

        .fa-heart:hover::before {
            font-weight: bold;
            color: $secondarycolor;
            cursor: pointer;
        }
    }

    &__button {
        @include button_background;
        color: white;
        padding: 0.8rem 2.5rem 0.8rem 2.5rem;
        border-radius: 25px;
        border: none;
        @include button_shadow;
        &:hover{
        @include button_hover;
        @include boxshadow2;
        }
    }
}

.button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: 130px;
}


.submenu {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%; 
    @media (min-width: 602px) {
        max-width: 49%;}
    @media (min-width: 1023px) {
        max-width: 32%;}      
    

    h3 {
        font-weight: lighter;
        position: relative;
        width: 100%;
    }

    &__border {
        height: 2px;
        width: 40px;
        max-width: 100%;
        background-color: $tertiarycolor;
        margin-top: -0.5rem;
    }
}

.submenu__item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    height: 70px;
    border-radius: 15px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    animation: itemlaunch 0.9s;
    animation-timing-function: cubic-bezier(.66, .27, .17, .88);
    cursor: pointer;
    @include card_shadow;


    &__description{
        flex-grow: 1;
        width: auto;
        max-width: 100%;
        min-width: 70%;
        padding-left: 1rem;
        padding-right: 1rem;
        

        p{
        font-weight: lighter;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        }

        h4{   
        margin-bottom: 0.2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        }
    }

    &__price {
        padding: 0 10px;
    }

    &__confirmation {
        overflow: hidden;
        width: 0rem;
        align-self: stretch;
        transition: all 400ms ;
        border-radius: 0px 15px 15px 0px;
    }

    &__confirmation > .submenu__item__wrapIcon {
        width: 4rem;
        background-color: $tertiarycolor;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &:hover 
        &__confirmation {
            width: 4rem;
            i{
            transform: rotate(360deg);
            transition: all 400ms;}
        }


    &__icon {
        color: $tertiarycolor;
        transition: all 400ms;
        transform: rotate(0);
        border-radius: 100px;
        background-color: white;
        padding: 0.3rem;
    }

    &--2 {
        animation-delay: 0.3s;
    }

    &--3 {
        animation-delay: 0.6s;
    }


    &--5 {
        animation-delay: 0.3s;
    }

    &--6 {
        animation-delay: 0.6s;
    }

    &--8 {
        animation-delay: 0.3s;
    }

    &--9 {
        animation-delay: 0.6s;
    }

}


footer {
    background-color: rgb(51, 44, 44);
    padding-left: 2rem;
}

.footer {
    color: #eaeaea;
    padding-top: 2rem;
    padding-bottom: 1rem;

    .container {
        display: flex;
        flex-direction: column;
        @media screen and (min-width:602px) {
            align-items: center;
        }
    }

    &__logo {
        font-family: Shrikhand;
        font-size: 2rem;
        letter-spacing: 0.5rem;

        @media screen and (min-width:602px) {
            font-size: 4rem;
        }
    }

    &__list {
        list-style: none;
        margin-left: -2.3rem;

        i {
            margin-right: 1rem;
        }

        li {
            margin-bottom: 1rem;
        }
    }
}

