@mixin boxshadow {
  box-shadow: 0px 1px 1px #ADA8A8;
}

@mixin boxshadow2 {
  box-shadow: 0px 8px 16px #ada8a8;
}

@mixin button_shadow {
  box-shadow: 5px 4px 5px 1px rgba(226, 223, 223, 0.659);
}

@mixin card_shadow {
  box-shadow: 2px 1px 5px 1px rgba(226, 223, 223, 0.659);
}

.main {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;

  &__img {
      @media (min-width: 602px) {
          height: 420px;
          overflow: hidden;
      }
  }
}
@mixin button_background{
  background: linear-gradient(56deg, $secondarycolor, $primarycolor);
}

@mixin button_hover{
cursor: pointer;
transform: scale(1.02); 
background: linear-gradient(
    56deg,
    darken($secondarycolor, 12%) 13%,
    darken($primarycolor, 12%) 100%)
  }